.about__contacts {
    margin-bottom: 122px;
    // .about__contacts-body

    &-body {
    }

    // .about__contacts-title

    &-title {
        margin-bottom: 38px;
    }

    // .about__contacts-flex

    &-flex {
        display: flex;
        justify-content: space-between;
        & > :not(:last-child) {
            margin-right: 30px;
        }
        margin-bottom: 40px;
    }

    // .about__contacts-item

    &-item {
        background-color: #ffffff;
        box-shadow: 0px 4px 40px rgba(247, 56, 254, 0.2);
        border-radius: 20px;
        padding: 33px 0 37px 0;
        flex: 1 1 auto;

        span {
            display: block;
            margin-bottom: 4px;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 1.6em;
            color: #333333;
            text-align: center;
        }

        p {
            display: flex;
            align-items: center;
            justify-content: center;
            & > :not(:last-child) {
                margin-right: 20px;
            }
        }

        a {
            text-align: center;
            display: block;
            &._contacts-link {
                font-style: normal;
                font-weight: 900;
                font-size: 34px;
                line-height: 1.35;
                text-align: center;
                background: linear-gradient(110.99deg, #0165c4 12.66%, #f738fe 81.62%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }

            &._contacts-link {
                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

    // .about__contacts-map

    &-map {
        background-color: #f2f2f2;
        border-radius: 20px;
        height: 336px;
    }
}
