.caces {
    // .caces__body

    &__body {
    }

    // .caces__title

    &__title {
        margin-bottom: 38px;
    }

    // .caces__new

    &__new {
        background-color: #ffffff;
        box-shadow: 0px 4px 40px rgba(247, 56, 254, 0.2);
        border-radius: 20px;
        margin-bottom: 80px;
        padding: 33px 48px;

        // .caces__new-body

        &-body {
            display: flex;
            justify-content: space-between;
        }

        // .caces__new-logo

        &-logo {
            width: 112px;
            flex: 0 0 112px;
            height: 112px;
            border-radius: 50%;
            overflow: hidden;
            border: 4px solid #0165c4;

            img {
                width: 100%;
            }
        }

        // .caces__new-content

        &-content {
            margin-right: 46px;
            margin-left: 32px;

            h3 {
                font-style: normal;
                font-weight: 900;
                font-size: 24px;
                line-height: 1.33em;
                display: flex;
                align-items: center;
                color: #0165c4;
                margin-bottom: 5px;
            }

            span {
                display: block;
                margin-bottom: 19px;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 1.44em;
                color: #828282;
            }
            p {
                margin-bottom: 19px;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 1.56em;
                color: #333333;
            }

            a {
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 1.4em;
                background: linear-gradient(110.99deg, #0165c4 12.66%, #f738fe 81.62%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
        }

        // .caces__new-results

        .results {
            flex-direction: column;
            * {
                color: #fff !important;
            }

            // .results__past

            &__past {
                background: linear-gradient(110.99deg, #0165c4 12.66%, #f738fe 81.62%);
                box-shadow: 0px 4px 40px rgba(247, 56, 254, 0.2);
                border-radius: 10px;
                margin-right: 0;
                margin-bottom: 32px;

                // .results__past-top

                &-top {
                }

                // .results__past-bottom

                &-bottom {
                }
            }

            // .results__present

            &__present {
                background: linear-gradient(110.99deg, #0165c4 12.66%, #f738fe 81.62%);
                box-shadow: 0px 4px 40px rgba(247, 56, 254, 0.2);
                border-radius: 10px;
                // .results__present-top

                &-top {
                }

                // .results__present-bottom

                &-bottom {
                }
            }
        }
    }

    // .caces__grid

    &__grid {
        // .caces__grid-item

        &-item {
        }
    }
}

.caces__grid {
    margin: 0 -15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-items: center;
}

.case {
    margin: 0 15px 32px 15px;
    background-color: #ffffff;
    box-shadow: 0px 4px 40px rgba(1, 101, 196, 0.2);
    border-radius: 20px;
    padding: 29px 32px 36px 32px;

    // .case-body

    &-body {
        span {
            display: block;
            margin-bottom: 1px;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.44em;
            color: #828282;
        }

        h3 {
            margin-bottom: 20px;
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 1.33em;
            color: #0165c4;
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.56em;
            color: #333333;
        }
    }
}
