.footer {
    background-color: #000000;
    @include adaptive-value("padding-top", 56, 45, 1);
    @include adaptive-value("padding-bottom", 62, 34, 1);
    @include adaptive-value("margin-top", 128, 80, 1);

    // .footer__body

    &__body {
        display: flex;
        justify-content: space-between;
        @media (max-width: 560px) {
            flex-wrap: wrap;
        }
    }

    // .footer__main

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        p {
            font-weight: 400;
            line-height: 1.56em;
            flex: 1 1 auto;
            color: #ffffff;
            @include adaptive-value("font-size", 18, 16, 1);

            @media (max-width: 560px) {
                text-align: center;
                margin-bottom: 46px;
                flex: unset;
            }
        }

        @media (max-width: 560px) {
            width: 100%;
            flex: 1 1 100%;
            align-items: center;
        }
    }

    // .footer__logo

    &__logo {
        display: block;
        @include adaptive-value("margin-bottom", 36, 22, 1);
        img {
            @include adaptive-value("height", 48, 35, 1);
        }
    }

    // .footer__menu

    &__menu {
        display: flex;
        margin: 0 15px;

        @media (max-width: 992px) {
            display: none;
        }

        & > :first-child {
            @include adaptive-value("margin-right", 81, 0, 1);
        }

        &-title {
            font-style: normal;
            font-weight: 700;
            @include adaptive-value("font-size", 20, 18, 1);
            line-height: 1.2em;
            @include adaptive-value("margin-bottom", 25, 15, 1);
            letter-spacing: 0.04em;
            color: #ffffff;
        }

        ul {
            li {
                max-width: 250px;
                a {
                    font-style: normal;
                    font-weight: 400;
                    @include adaptive-value("font-size", 18, 16, 1);
                    line-height: 1.5em;
                    color: #ffffff;
                }
            }
            li:not(:last-child) {
                @include adaptive-value("margin-bottom", 16, 9, 1);
            }
        }
    }

    // .footer__contacts

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 560px) {
            flex: 1 1 100%;
        }

        &-btn {
            width: 222px;
            margin-bottom: 22px;

            @media (max-width: 560px) {
                display: none;
            }
        }
    }

    // .footer__phone

    &__phone {
        font-style: normal;
        font-weight: 600;
        @include adaptive-value("font-size", 21, 28, 1);
        line-height: 1.7em;
        text-align: center;
        color: #ffffff;
        @include adaptive-value("margin-bottom", 7, 4, 1);
    }

    // .footer__order

    &__order {
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 1.65em;
        color: #f738fe;
        display: none;

        @media (max-width: 560px) {
            display: block;
        }
    }

    // .footer__email

    &__email {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        @include adaptive-value("font-size", 20, 18, 1);
        line-height: 1.6em;
        text-align: center;
        color: #ffffff;

        @media (max-width: 560px) {
            display: none;
        }
    }

    // .footer__socials

    &__socials {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 32px;

        & > :not(:last-child) {
            @include adaptive-value("margin-right", 24, 18, 1);
        }

        a {
            display: block;
            img {
                @include adaptive-value("width", 48, 40, 1);
            }
        }
    }

    // .footer__privacy

    &__privacy {
        font-style: normal;
        font-weight: 400;
        @include adaptive-value("font-size", 18, 16, 1);
        line-height: 1.56em;
        color: #ffffff;

        @media (max-width: 560px) {
            text-align: center;
            margin-top: 62px;
            display: block;
            width: 100%;
        }
    }
}

.to-top {
    position: fixed;
    @include adaptive-value("width", 80, 40, 1);
    @include adaptive-value("height", 80, 40, 1);
    @include adaptive-value("left", 40, 15, 1);
    @include adaptive-value("bottom", 40, 15, 1);
    z-index: 99;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease 0s;

    &._active {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
    }

    border-radius: 50%;
    background: linear-gradient(110.99deg, #0165c4 12.66%, #f738fe 81.62%);
    box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 75%;
        transform: rotate(-90deg);
        pointer-events: none;
    }
}
