.footer {
    background-color: #000000;
    padding: 56px 0 62px 0;
    margin-top: 128px;
    // .footer__body

    &__body {
        display: flex;
        justify-content: space-between;
    }

    // .footer__main

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 1.56em;
            flex: 1 1 auto;
            color: #ffffff;
        }
        span {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.56em;
            color: #ffffff;
        }
    }

    // .footer__logo

    &__logo {
        margin-bottom: 36px;
        display: block;
    }

    // .footer__menu

    &__menu {
        display: flex;
        & > :first-child {
            margin-right: 81px;
        }
        ul {
            h4 {
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 1.2em;
                margin-bottom: 25px;
                letter-spacing: 0.04em;
                color: #ffffff;
            }
            li {
                a {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 1.5em;
                    color: #ffffff;
                }
            }
            li:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }

    // .footer__contacts

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            width: 222px;
            margin-bottom: 22px;
        }
    }

    // .footer__phone

    &__phone {
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        line-height: 1.7em;
        text-align: center;
        color: #ffffff;
        margin-bottom: 7px;
    }

    // .footer__email

    &__email {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.6em;
        margin-bottom: 31px;
        text-align: center;
        color: #ffffff;
    }

    // .footer__socials

    &__socials {
        display: flex;
        align-items: center;
        justify-content: center;

        & > :not(:last-child) {
            margin-right: 24px;
        }

        a {
            img {
                max-width: 48px;
            }
        }
    }
}
