.header {
    background-color: #fff;
    // .header__body

    &__body {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 16px 0;
        @media (max-width: 840px) {
            justify-content: space-between;
        }
    }

    // .header__logo

    &__logo {
        // @include adaptive-value("margin-right", 40, 0, 1);
        @include adaptive-value("margin-right", 40, -20, 1);
        display: block;

        @media (max-width: 840px) {
            margin-right: 0 !important;
        }

        img {
            height: 48px;
        }
    }

    // .header__menu

    &__menu {
        flex: 1 1 auto;

        // .header__menu-body

        &-body {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff !important;

            & > :not(:last-child) {
                // @include adaptive-value("margin-right", 45, 0, 1);
                // @include adaptive-value("margin-right", 45, 15, 1);
                @include adaptive-value("padding-right", 45, 15, 1);
            }
        }

        // .header__menu-item

        &-item,li {
            position: relative;

            &._active {
                .header__submenu,.sub-menu {
                    max-height: 400px;
                }
                svg {
                    transform: translate(0, -50%) rotate(180deg);
                }
                .header__menu-link,a {
                    color: #0165c4;
                }
            }

            @media (any-hover: hover) {
                &:hover {
                    .header__submenu,.sub-menu {
                        max-height: 400px;
                    }
                    svg {
                        transform: translate(0, -50%) rotate(180deg);
                    }
                    .header__menu-link,a {
                        color: #0165c4;
                    }
                }
            }

            svg {
                width: 12px;
                stroke: currentColor;
                transition: all 0.3s ease 0s;
                display: block;
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                // @include adaptive-value("right", -25, -10, 1);
                @include adaptive-value("right", 25, 0, 1);
                cursor: pointer;

                path {
                    pointer-events: none;
                }
            }
        }

        // .header__menu-link

        &-link,a {
            font-style: normal;
            font-weight: 400;
            @include adaptive-value("font-size", 18, 16, 1);
            line-height: 1.4em;
            color: #333333;
            white-space: nowrap;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            transition: all 0.3s ease 0s;

            svg {
                margin-bottom: 5px;
                margin-left: 7.5px;
                width: 12px;
                stroke: currentColor;
                transition: all 0.3s ease 0s;
                display: block;
            }
        }
    }

    // .header__submenu

    &__submenu,.sub-menu {
        position: absolute;
        max-height: 0;
        transition: all 0.3s linear 0s;
        overflow: hidden;
        z-index: 10;

        // .header__submenu-body

        & > :first-child {
            padding-top: 10px !important;
        }

        & > :last-child {
            padding-bottom: 10px !important;
        }

        // .header__submenu-item

        &-item,li {
            padding: 5px 15px;
            background-color: #fff;
            transition: all 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    background-color: #0165c4;

                    a {
                        color: #fff;
                    }
                }
            }
        }

        // .header__submenu-link

        &-link,a {
            font-style: normal;
            font-weight: 400;
            @include adaptive-value("font-size", 18, 16, 1);
            line-height: 1.4em;
            color: #333333;
            white-space: nowrap;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            transition: all 0.3s ease 0s;
            svg {
                margin-bottom: 5px;
                margin-left: 7.5px;
                width: 12px;
                stroke: currentColor;
                transition: all 0.3s ease 0s;
                display: block;
            }
        }
    }

    // .header__socials

    &__socials {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > :not(:last-child) {
            @include adaptive-value("margin-right", 20, 0, 1);
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 32px;
            }
        }
    }

    // .header__order

    &__order {
        @include adaptive-value("margin-left", 26, 0, 1);
        @include adaptive-value("width", 222, 100, 1);
    }

    // .header__burger

    &__burger {
        height: 21px;
        width: 24px;
        position: relative;
        display: none;

        @media (max-width: 840px) {
            display: block;

            &._active {
                & > :last-child {
                    bottom: unset;
                    top: 50%;
                }

                & > :first-child {
                    top: 50%;
                }
            }

            &._active2 {
                & > :last-child {
                    bottom: unset;
                    transform: translate(0, -50%) rotate(-45deg);
                }
                & > :first-child {
                    transform: translate(0, -50%) rotate(45deg);
                }
                & > :nth-child(2) {
                    opacity: 0;
                }
            }
        }

        span {
            width: 100%;
            height: 3px;
            background-color: #f738fe;
            position: absolute;
            left: 0;
            border-radius: 2px;
            pointer-events: none;
            transition: all 0.3s ease 0s;
        }

        & > :last-child {
            bottom: 0;
        }

        & > :first-child {
            top: 0;
        }
        & > :nth-child(2) {
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    @media (max-width: 840px) {
        .header__menu,
        .header__socials,
        .header__order {
            display: none;
        }
    }
}

.mobile-menu {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 7px 10px rgba(247, 56, 254, 0.1) inset;
    z-index: 100;
    transform: translate(-100%, 0);
    transition: all 0.3s ease 0s;

    @media (max-width: 840px) {
        &._open {
            transform: translate(0, 0);
        }
    }

    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: rgba(255, 255, 255, 0.3);
    }

    // .mobile-menu__body

    &__body {
        height: calc(100% - 75px);
        z-index: 1;
        position: relative;
        padding: 37px 10px 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__content {
        overflow-y: auto;
        height: 100%;
        width: 100%;

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-track {
            background-color: rgb(199, 199, 199);
            border-radius: 100px;
        }

        &::-webkit-scrollbar-thumb {
            box-shadow: inset 2px 2px 5px 0 #6353db;
            background: linear-gradient(110.99deg, #0165c4 12.66%, #f738fe 81.62%);
        }
    }

    // .mobile-menu__menu

    &__menu {
        margin-bottom: 67px;
        @media (max-height: 700px) {
            margin-bottom: 30px;
        }
        ul {
            & > :not(:last-child) {
                margin-bottom: 16px;
            }

            a {
                font-style: normal;
                font-weight: 900;
                font-size: 32px;
                line-height: 1.5em;
                display: flex;
                align-items: flex-end;
                background: linear-gradient(110.99deg, #0165c4 12.66%, #f738fe 81.62%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                text-align: center;
                display: block;
                @media (max-height: 700px) {
                    @include adaptive-value("font-size", 32, 20, 1);
                }
            }
        }
    }

    // .mobile-menu__socils

    &__socils {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 48px;
        @media (max-height: 700px) {
            margin-bottom: 25px;
        }
        & > :not(:last-child) {
            margin-right: 24px;
        }

        img {
            width: 48px;
        }
    }

    // .mobile-menu__btn

    &__btn {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5em;
        text-align: center;
        background: linear-gradient(110.99deg, #0165c4 12.66%, #f738fe 81.62%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        width: 276px;
        display: block;
        margin: 0 auto;
        padding: 16px 0;
        box-shadow: 0px 4px 40px rgba(247, 56, 254, 0.2);
        border-radius: 100px;
        position: relative;
        overflow: hidden;
        margin-bottom: 37px;

        &:before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            z-index: -1;
        }
    }
}

body._noscroll {
    overflow: hidden !important;
}
