.home {
    position: relative;
    @include adaptive-value("margin-bottom", 98, 87, 1);
    overflow: unset !important;
    min-height: 100vh;

    background-size: cover;
    background-repeat: no-repeat;

    @media (max-height: 675px) {
        min-height: unset;
    }

    @media (max-width: 992px) {
        min-height: unset;
    }

    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        background: linear-gradient(110.99deg, #0165c4 12.66%, #f738fe 81.62%);
        opacity: 0.63;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    // .home__body

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include adaptive-value("padding-top", 95, 43, 1);
        @include adaptive-value("padding-bottom", 160, 76, 1);
        position: relative;
        z-index: 1;

        @media (max-width: 768px) {
            padding-bottom: 0 !important;
        }
    }

    // .home__title

    &__title {
        font-style: normal;
        font-weight: 900;
        @include adaptive-value("font-size", 84, 38, 1);
        @include adaptive-value("margin-bottom", 57, 19, 1);
        line-height: 1.24em;
        text-align: center;
        color: #ffffff;
        max-width: 1150px;

        br {
            display: none;

            @media (max-width: 1024px) {
                display: block;
            }
        }

        @media (max-width: 1150px) {
            max-width: none;
        }
    }

    // .home__subtitle

    &__subtitle {
        display: none;
        font-style: normal;
        font-weight: 500;
        @include adaptive-value("font-size", 20, 18, 1);
        line-height: 1.44em;
        text-align: center;
        color: #ffffff;
        margin-bottom: 52px;

        @media (max-width: 768px) {
            display: block;
        }
    }

    // .home__button

    &__button {
        @include adaptive-value("width", 414, 276, 1);
        @include adaptive-value("font-size", 21, 16, 1);
        @include adaptive-value("padding-top", 26, 16, 1);
        @include adaptive-value("padding-bottom", 26, 16, 1);

        @media (max-width: 768px) {
            position: relative;
            bottom: -33px;
            box-shadow: 0px 4px 40px rgba(247, 56, 254, 0.2);
        }
    }
}

.home__services {
    @include adaptive-value("padding-top", 64, 47, 1);
    @include adaptive-value("padding-bottom", 66, 40, 1);
    background-color: #000000;
    border-radius: 0px 90px;
    @include adaptive-value("margin-bottom", 122, 63, 1);

    @media (max-width: 768px) {
        border-radius: 0px 60px;
    }

    // .home__services-body

    &-body {
    }

    // .home__services-title

    &-title {
        @include adaptive-value("margin-bottom", 47, 28, 1);
    }

    // .home__services-flex

    &-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .home__services-nav

    &-nav {
        // .home__services-nav-body

        &-body {
            & > :not(:last-child) {
                @include adaptive-value("margin-bottom", 28, 12, 1);
            }
        }

        // .home__services-nav-item

        &-item {
        }
    }

    // .home__services-more

    &-more {
        font-style: normal;
        font-weight: 700;
        line-height: 1.4em;
        color: #f738fe;
        @include adaptive-value("margin-top", 20, 25, 1);
        @include adaptive-value("font-size", 20, 18, 1);
        display: block;
        margin-left: 171px;
        @media (max-width: 992px) {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            width: fit-content;
        }
    }

    // .home__services-about

    &-about {
        @include adaptive-value("margin-left", 50, 0, 1);
        @include adaptive-value("max-width", 554, 300, 1);
        height: 490px;

        @media (max-width: 992px) {
            display: none;
        }

        background: linear-gradient(110.99deg, #0165c4 12.66%, #f738fe 81.62%);
        border-radius: 20px;
        @include adaptive-value("padding-top", 40, 27, 1);
        @include adaptive-value("padding-bottom", 56, 40, 1);
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
}

.item-nav {
    cursor: pointer;

    &._active {
        & > span {
            background: linear-gradient(110.99deg, #0165c4 12.66%, #f738fe 81.62%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
        @media (max-width: 992px) {
            img {
                transform: rotate(90deg);
            }

            .item-nav__descr {
                max-height: 500px;
            }
        }
    }

    span {
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        transition: all 0.3s ease 0s;
        line-height: 1.1em;
        color: #ffffff;
        font-style: normal;
        font-weight: 400;
        @include adaptive-value("font-size", 25, 19, 1);
        transition: all 0.3s ease 0s;
        pointer-events: none;

        img {
            pointer-events: none;
            @include adaptive-value("margin-right", 26, 14, 1);
            @include adaptive-value("width", 22, 16, 1);
            transition: all 0.3s linear 0s;
        }
    }

    // .item-nav__descr

    &__descr {
        max-height: 0;
        transition: all 0.3s linear 0s;
        overflow: hidden;
        &-body {
            display: flex;
            flex-direction: column;
            height: 100%;

            * {
                text-align: center;
            }

            // .home__services-about-title

            h4 {
                font-style: normal;
                font-weight: 700;
                @include adaptive-value("font-size", 32, 21, 1);
                line-height: 1.31em;
                color: #ffffff;
                margin-bottom: 7px;
            }

            // .home__services-about-price

            span {
                font-style: normal;
                font-weight: 500;
                @include adaptive-value("font-size", 20, 17, 1);
                line-height: 1.6em;
                text-align: center;
                color: #ffffff;
                @include adaptive-value("margin-bottom", 27, 20, 1);
                display: block !important;
            }

            // .home__services-about-descr

            p {
                flex: 1 1 auto;
                font-style: normal;
                font-weight: 400;
                @include adaptive-value("font-size", 19, 16, 1);
                @include adaptive-value("margin-bottom", 61, 26, 1);
                line-height: 1.47em;
                text-align: center;
                color: #ffffff;
                @media (min-width: 993px) {
                    max-width: 90%;
                }
                margin-left: auto;
                margin-right: auto;
            }

            // .home__services-about-more

            a {
                @include adaptive-value("font-size", 17, 16, 1);
                @include adaptive-value("width", 362, 257, 1);
                @include adaptive-value("padding-top", 18, 12, 1);
                @include adaptive-value("padding-bottom", 18, 12, 1);
                display: block;
                margin: 0 auto;
            }
        }
    }

    .item-nav__descr-body {
        background: linear-gradient(110.99deg, #0165c4 12.66%, #f738fe 81.62%);
        border-radius: 20px;
        @include adaptive-value("padding-top", 40, 27, 1);
        @include adaptive-value("padding-bottom", 56, 40, 1);
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        margin: 25px 0;
    }
}

.owrblog {
    @include adaptive-value("padding-bottom", 48, 40, 1);

    // .owrblog__body

    &__body {
    }

    // .owrblog__top

    &__top {
        @include adaptive-value("margin-bottom", 38, 25, 1);
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        @media (max-width: 992px) {
            margin-bottom: 0 !important;
        }
    }

    // .owrblog__title

    &__title {
    }

    // .owrblog__row

    &__row {
        display: flex;
        justify-content: space-between;
        margin: 0 -15px;

        @media (max-width: 992px) {
            margin: 0 0 30px 0;
            @include adaptive-value("margin-top", 38, 25, 1);
        }

        @media (max-width: 500px) {
            &-swiper {
                margin: 0 -20px;
            }
            .owrblog__item {
                width: calc(100% - 40px);
            }
        }
    }

    // .owrblog__item

    &__item {
        max-width: 413px;
        box-shadow: 0px 4px 40px rgba(1, 101, 196, 0.2);
        border-radius: 20px;
        overflow: hidden;
        margin: 0 15px;

        @media (max-width: 992px) {
            margin: 0 25px;
        }

        // .owrblog__item-body

        &-body {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        // .owrblog__item-image

        &-image {
            @include adaptive-value("margin-bottom", 20, 22, 1);
            display: block;

            img{
                width: 100%;
                max-height: 208px;
                object-fit: cover;
            }
        }

        // .owrblog__item-content

        &-content {
            @include adaptive-value("padding-left", 26, 20, 1);
            @include adaptive-value("padding-right", 26, 20, 1);
            @include adaptive-value("padding-bottom", 32, 26, 1);
            background-color: #ffffff;
            flex: 1 1 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            time {
                @include adaptive-value("margin-bottom", 3, 5, 1);
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.75em;
                color: #828282;
            }

            h4 {
                font-style: normal;
                font-weight: 700;
                font-size: 21px;
                line-height: 1.33em;
                margin-bottom: 10px;
                color: #0165c4;
            }

            p {
                @include adaptive-value("margin-bottom", 23, 16, 1);
                font-style: normal;
                font-weight: 400;
                @include adaptive-value("font-size", 18, 16, 1);
                line-height: 1.44em;
                color: #333333;
                flex: 1 1 100%;
            }

            a {
                background: linear-gradient(110.99deg, #0165c4 12.66%, #f738fe 81.62%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                font-style: normal;
                font-weight: 600;
                @include adaptive-value("font-size", 17, 16, 1);
                line-height: 1.65em;
            }
        }
    }
}
