.portfolio {
    margin-bottom: -32px;

    // .portfolio__body

    &__body {
    }

    // .portfolio__title

    &__title {
        @include adaptive-value("margin-bottom", 38, 15, 1);
    }

    // .portfolio__grid

    &__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include adaptive-value("margin-left", -15, -10, 1);
        @include adaptive-value("margin-right", -15, -10, 1);

        @media (max-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2, calc(178px + 125 * ((100vw - 375px) / 1065)));
            & > :nth-child(3n) {
                grid-column: span 2;
            }
        }

        @media (max-width: 375px) {
            grid-template-columns: repeat(2, 1fr);
        }

        // .portfolio__grid-item

        &-item {
            @include adaptive-value("flex-basis", 303, 178, 1);

            @media (max-width: 768px) {
                flex: unset !important;
            }

            flex-grow: 0;
            flex-shrink: 0;
            margin-bottom: 32px;
            @include adaptive-value("margin-left", 14, 10, 1);
            @include adaptive-value("margin-right", 14, 10, 1);
            //    @include adaptive-value("margin-left", 15, 10, 1);
            // @include adaptive-value("margin-right", 15, 10, 1);

            background-color: #ffffff;
            box-shadow: 0px 4px 40px rgba(247, 56, 254, 0.2);
            border-radius: 20px;
            @include adaptive-value("height", 432, 224, 1);
            display: block;
        }
    }
}
