.service-single__pricing {
    padding-bottom: 88px;
    // .service-single__pricing-body

    &-body {
    }

    // .service-single__pricing-title

    &-title {
        margin-bottom: 32px;
    }

    // .service-single__pricing-grid

    &-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include adaptive-value("margin-left", -30, -10, 1);
        @include adaptive-value("margin-right", -30, -10, 1);

        @media (max-width: 768px) {
            justify-content: unset;
            flex-wrap: unset;
            margin: 0 !important;
        }
    }

    // .services__pricing-swiper

    &-swiper {
        @media (max-width: 768px) {
            margin-bottom: 6px;
            margin-top: -30px;
            padding-top: 30px;
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    // .services__pricing-pagination

    &-pagination {
        display: none;
        @media (max-width: 768px) {
            display: flex;
        }
    }
}

.service-single__product {
    background-color: #ffffff;
    box-shadow: 0px 4px 40px rgba(1, 101, 196, 0.2);
    border-radius: 20px;

    @include adaptive-value("margin-left", 15, 5, 1);
    @include adaptive-value("margin-right", 15, 5, 1);
    @include adaptive-value("margin-bottom", 34, 24, 1);

    @include adaptive-value("max-width", 413, 315, 1);

    @media (max-width: 768px) {
        margin: 0 20px 24px 20px !important;
        max-width: 413px !important;
    }

    @media (max-width: 450px) {
        width: calc(100vw - 40px) !important;
        max-width: none;
    }
    // .service-single__product-body

    &-body {
        @include adaptive-value("padding-top", 82, 58, 1);
        @include adaptive-value("padding-bottom", 24, 21, 1);
        @include adaptive-value("padding-left", 36, 30, 1);
        @include adaptive-value("padding-right", 36, 30, 1);
        position: relative;
    }

    // .service-single__product-number

    &-number {
        position: absolute;
        @include adaptive-value("top", 0, -15, 1);
        left: 24px;
        font-style: normal;
        font-weight: 900;
        @include adaptive-value("font-size", 128, 96, 1);
        line-height: 1.27em;
        color: #f738fe;
        opacity: 0.1;
    }

    // .service-single__product-title

    &-title {
        font-style: normal;
        font-weight: 900;
        @include adaptive-value("font-size", 28, 22, 1);
        @include adaptive-value("margin-bottom", 17, 12, 1);
        line-height: 1.29em;
        color: #0165c4;
        margin-bottom: 17px;
    }

    // .service-single__product-descr

    &-descr {
        font-style: normal;
        font-weight: 400;
        @include adaptive-value("font-size", 18, 16, 1);
        line-height: 1.44em;
        color: #333333;
        margin-bottom: 1em;
    }

    label {
        font-style: normal;
        font-weight: 400;
        @include adaptive-value("font-size", 18, 16, 1);
        line-height: 1.44em;
        text-align: center;
        color: #4f4f4f;
        margin-bottom: 1px;
    }

    // .service-single__product-price

    &-price {
        font-style: normal;
        font-weight: 900;
        @include adaptive-value("font-size", 23, 20, 1);
        line-height: 1.39em;
        background: linear-gradient(110.99deg, #0165c4 12.66%, #f738fe 81.62%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}
