.services__pricing {
    @include adaptive-value("margin-bottom", 78, 63, 1);

    // .services__pricing-body

    &-body {
    }

    // .services__pricing-title

    &-title {
        @include adaptive-value("margin-bottom", 38, 25, 1);
    }
}

.services__results {
    @include adaptive-value("padding-bottom", 122, 63, 1);

    // .services__results-body

    &-body {
    }

    // .services__results-top

    &-top {
        @include adaptive-value("margin-bottom", 38, 25, 1);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &-content {
            h3 {
                font-style: normal;
                font-weight: 900;
                @include adaptive-value("font-size", 28, 20, 1);
                line-height: 1.29;
                color: #0165c4;
                margin-bottom: 1px;
            }

            span {
                font-style: normal;
                font-weight: 500;
                @include adaptive-value("font-size", 20, 16, 1);
                line-height: 1.6em;
                color: #bdbdbd;
                display: block;
                margin-bottom: 1em;
            }

            p {
                font-style: normal;
                font-weight: 400;
                @include adaptive-value("font-size", 18, 16, 1);
                line-height: 1.56em;
                color: #333333;
                max-width: 500px;

                @media (max-width: 500px) {
                    max-width: none;
                }
            }
        }

        &-results {
            @include adaptive-value("margin-left", 50, 0, 1);
            @media (max-width: 992px) {
                margin: 30px auto 0 auto !important;
            }

            @media (max-width: 660px) {
                display: none !important;
            }
        }
    }

    // .services__results-title

    &-title {
    }

    // .services__results-swiper

    &-swiper {
        box-shadow: 0px 4px 40px rgba(1, 101, 196, 0.2);
        border-radius: 20px;
    }

    // .services__results-wrapper

    &-wrapper {
        @media (min-width: 661px) {
            & > :not(:first-child) {
                display: none;
            }
        }
    }

    // .services__results-pagination

    &-pagination {
        margin-top: 30px;

        @media (min-width: 661px) {
            display: none;
        }
    }

    // .services__results-content

    &-content {
        @include adaptive-value("padding-top", 36, 23, 1);
        @include adaptive-value("padding-bottom", 31, 34, 1);
        @include adaptive-value("padding-left", 52, 24, 1);
        @include adaptive-value("padding-right", 52, 24, 1);

        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 52px;

            @media (max-width: 992px) {
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
            }
        }
    }

    // .services__results-bottom

    &-bottom {
    }
}

.results {
    display: flex;

    // .results__past

    &__past {
        background-color: #ffffff;
        box-shadow: 0px 4px 40px rgba(247, 56, 254, 0.2);
        border-radius: 10px;
        @include adaptive-value("width", 252, 200, 1);
        @include adaptive-value("margin-right", 50, 0, 1);
        padding: 13px 0 16px 0;

        // .results__past-top

        &-top {
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 1.87em;
            letter-spacing: 0.06em;
            color: #bdbdbd;
            text-align: center;
            display: block;
        }

        // .results__past-bottom

        &-bottom {
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                text-align: center;
            }

            label {
                font-style: normal;
                font-weight: 900;
                font-size: 46px;
                line-height: 1.3em;
                text-align: center;
                color: #0165c4;
            }

            span {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 1.56em;
                color: #828282;
            }
        }
    }

    // .results__present

    &__present {
        background-color: #ffffff;
        box-shadow: 0px 4px 40px rgba(247, 56, 254, 0.2);
        border-radius: 10px;
        @include adaptive-value("width", 252, 200, 1);

        padding: 13px 0 16px 0;

        // .results__present-top

        &-top {
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 1.87em;
            letter-spacing: 0.06em;
            color: #bdbdbd;
            text-align: center;
            display: block;
        }

        // .results__present-bottom

        &-bottom {
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                text-align: center;
            }

            label {
                font-style: normal;
                font-weight: 900;
                font-size: 46px;
                line-height: 1.3em;
                text-align: center;
                color: #0165c4;
            }

            span {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 1.56em;
                color: #828282;
            }
        }
    }
    // .results__grafic

    &__grafic {
        display: flex;
        justify-content: space-between;
        position: relative;

        span {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.56;
            text-align: center;
            color: #333333;
            margin-bottom: 24px;
            display: block;
        }

        img {
            width: 100%;
        }

        // .results__grafic-past

        &-visits,
        &-orders {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media (max-width: 660px) {
                position: absolute;
                visibility: hidden;
                opacity: 0;
                transition: all 0.3s ease 0s;

                &._active {
                    position: relative;
                    visibility: visible;
                    opacity: 1;
                }
            }
            & > span {
                @media (max-width: 660px) {
                    display: none;
                }
            }
        }

        // .results__grafic-present

        &-orders {
            @include adaptive-value("margin-left", 50, 0, 1);
        }

        // .results__grafic-statistic

        &-statistic {
            display: flex;
            align-items: center;
            justify-content: center;

            display: none;

            @media (max-width: 660px) {
                display: flex;
            }

            & > :first-child {
                margin-right: 30px;

                label {
                    color: #bdbdbd;
                }
            }

            p {
                text-align: center;
            }

            label {
                font-style: normal;
                font-weight: 900;
                font-size: 46px;
                line-height: 1.3em;
                text-align: center;
                color: #0165c4;
            }

            span {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 1.56em;
                color: #828282;
                margin: 0 !important;
            }
        }

        // .results__grafic-tabs

        &-tabs {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 32px;
            display: none;

            @media (max-width: 660px) {
                display: flex;
            }

            & > :first-child {
                margin-right: 20px;
            }

            button {
            }
        }
    }
}

.gradient-box {
    width: 133px;
    padding: 4px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 2em;
    text-align: center;
    color: #0165c4;
    max-width: 133px;

    background: #ffffff;
    border-radius: 10px;
    position: relative;
    $border: 1px;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    transition: all 0.3s ease 0s;

    &._active {
        background: linear-gradient(to right, rgba(1, 101, 196, 1), rgba(247, 56, 254, 1));
        color: #fff;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -$border; /* !importanté */
        border-radius: inherit; /* !importanté */
        background: linear-gradient(to right, rgba(1, 101, 196, 1), rgba(247, 56, 254, 1));
    }
}
